


<form class="new_entry" action="/sessions" method="post">

  <h1>Richa&ampBrenda's Far-Mar Finder</h1>

<h2>Please sign in or create a Vendor Profile below:</h2>
<div>
  <label for="vendor_username">Username:</label>
  <input type="string" name="vendor[username]"   />
</div>
<div>
  <label for="vendor_password">Password:</label>
  <input type="password" name="vendor[password]"    />
</div>
<br>
<input type = "submit" value="Sign In" class = "submit">
<br>
<%= link_to "Create Profile", "/vendors/new" %>
<!-- <%= link_to "Sign in as a Guest", "#", style: "color:#ffffff;font-size:1.75em"%> -->

</form>
