<h1>Richa &amp Brenda's Farmer's Market Finder</h1>

<div id="user_entry">

  Please indicate if you wish to continue as a
  <%= link_to "Guest Page", user_home_path %>
  <%= link_to "Vendor Page", "/vendors/index"%>

</div>
