
<div class = "new_entry">
  <h1>Richa&ampBrenda's Farmer's Market Finder</h1>




    <h2>Please indicate if you wish to continue as a</h2>
    <div><%= link_to "Guest", user_home_path , style: "color:#ffffff;font-size:1.75em"%></div>
    <h2>or</h2>
    <div><%= link_to "Vendor", "/vendors/new", style: "color:#ffffff;font-size:1.75em"%></div





</div>
