 <!-- vendor will be able to create, edit, and delete himself -->

 <h2>New Vendor</h2>


  <form action="/vendors" method="post">
    Vendor Name <input type="text" name="vendor[name]"  value = "<%= @vendor.name %>"/>
    Number of Employees <input type="integer" name="vendor[no_of_employees]" value = "<%= @vendor.no_of_employees %>" />
    Market ID <input type="integer" name="vendor[market_id]" value = "<%= @vendor.market_id %>"/>
    <input type = "submit" value="new vendor">
  </form>
