<h1>New Sales</h1>
<form action="/sales" method="POST">
  Amount<input type="integer" name="sale[amount]" value="<%= @sale.amount %>"/>
  Product<input type="text" name="product[name]" value="<%= @product.name %>"/>

  <input type='submit'/>
</form>
